h2 {
    text-align: center;
    margin-top: 50px;
}

a {
    color: black;
    font-size: 16px;
    text-decoration: none;
}

#Mitarbeiter {
    margin-top: 0px;
}

.card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    box-shadow: 5px 5px 15px #cccccc;
}

.img-fluid {
    width: 100%;
}

.card-title {
    margin-bottom: 5px;
}

.card-subtitle {
    font-weight: bold;
}

#photo-vorstand {
    display: block;
    width: 95%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.vorstand-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.table {
    width: 95%;
    max-width: 600px;
}

.button-mitglied-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.spenden-button {
    margin-top: 10px;
}

.satzung-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;    
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 411px) { 


    
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    
    
    
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    
    main {
        padding-left: 60px;
        padding-right: 60px;
    }
    
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    
    main {
        padding-left: 200px;
        padding-right: 200px;
    }
    
}