h2 {
    text-align: center;
    margin-top: 50px;
}

a {
    color: black;
    font-size: 16px;
    text-decoration: none;
}

.card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    box-shadow: 5px 5px 15px #cccccc;
}

.card-body {
    
}

.card-title {
    margin-bottom: 5px;
}

.card-subtitle {
    font-weight: bold;
}

#photo-vorstand {
    display: block;
    width: 95%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.vorstand-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

table {
    max-width: 600px;
}

.button-mitglied-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.spenden-button {
    margin-top: 10px;
}

.satzung-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;    
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

    
    
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    
    
    
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    
    
    
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    
    
    
}